// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

.app__main {
  flex: 1 1 auto;
}

.main__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  list-style: none;
  padding-left: 0;
  margin: 0;

  @media (max-width: 650px) {
    grid-template-columns: 1fr;
  }
}
