.devItem {
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  border-radius: 2px;
  padding: 20px;
  position: relative;

  > span {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 10px;
    right: 20px;
    width: 30px;
    height: 30px;
    font-size: .9rem;
    background-color: var(--main-bg-color);
    border-radius: 9999px;
    cursor: pointer;
    transition: all .15s ease-in-out;

    &:hover {
      filter: brightness(90%);
    }
  }

  p {
    color: var(--input-color);
    font-size: 14px;
    line-height: 20px;
    margin: 10px 0;
  }

  a {
    display: inline-block;
    color: #8e4dff;
    font-size: 14px;
    text-decoration: none;
    transition: all .15s ease-in-out;

    &:hover {
      color: #5a2ea6;
    }
  }
}

.devHeader {
  display: flex;
  flex-direction: row;
  align-items: center;

  img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
  }
}

.devUserInfo {
  margin-left: 20px;

  strong {
    display: block;
    font-size: 16px;
    color: var(--main-text-color);
    line-height: 1;
  }

  span {
    font-size: 13px;
    color: #999999;
    margin-top: 2px;
  }
}
