// -----------------------------------------------------------------------------
// This file contains very basic styles.
// -----------------------------------------------------------------------------
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  font-family: Roboto, sans-serif;
  line-height: 1.5;
  background-color: #E5E6F0;
  -webkit-font-smoothing: antialiased;
}
