// -----------------------------------------------------------------------------
// This file contains all styles related to the sidebar component.
// -----------------------------------------------------------------------------

.aside {
  flex: 0 0 30%;
  max-width: 30%;
  background-color: var(--white-color);
  box-shadow: var(--box-shadow);
  border-radius: 0.25rem;
  padding: 30px 20px;

  &__title {
    font-size: 20px;
    text-align: center;
    display: block;
    color: var(--main-text-color);
  }
}
